.idea/
.gradle/
.cxx/
build/
obj/
*.iml
local.properties
API_KEYS
*.hprof
TMessagesProj/.externalNativeBuild/
TMessagesProj/jni/ffmpeg/android/
TMessagesProj/jni/ffmpeg/build/
TMessagesProj/jni/boringssl/build/
TMessagesProj/.cxx/
TMessagesProj/build/
gradle.properties
TMessagesProj/config/release.keystore
.DS_Store
TMessagesProj/google-services.json
TMessagesProj/config/release/release.keystore
*.li
*.keystore
*.aab
